.classic {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
}

.classic.pro {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-title {
    color: black;
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.card-desc {
    line-height: 14px;
    font-size: small;
    color: grey;
}

.green-circle {
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

div {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.chart{
    height: 400px;
    
}